.search-main{
    display:flex;
    flex-direction: row;
    justify-content: center;
    height:50px;
    width:60%;
    margin-top:5px;
    

    .search-link{
      height: 45px;
      width:45px;
      border:none;
      background-color: #2a65ea;
      padding:8px;
      cursor: pointer;
        svg{
            color:white;    
            width:16px;
            height: 16px;
        }
    }
    input{
        width: 100%;
        height: 45px;
        background:none;    
        font-size: 100%;
        padding:8px 16px;
        border:0px;
        border: 2px solid black;
        &::placeholder{
            color:black;
           
        }
    }

}

@media (max-width:850px) {
    .search-main{
       margin:5px auto;
       width:90%;
       justify-content: center;
    
    }

    

     
}
