$header-color : black;
.header-main{
    background:rgba(0,47,52,.03);
    display:  flex;
    height: 7vh;
    ul{
        // Take full height of the enclosing container
        display: flex;
        width: 100%;
        height: 100%;
        padding: 0px;
        list-style-type: none;
        justify-content:flex-start;
        margin:0px;


        li:nth-child(3){
            margin:0px auto ;
            width: 100%;
            
            &:hover{
                background: none;
            }

        }

        li{
            display: flex;
            justify-content: center;
            align-items: center;
            margin:0px 5px;
            width: 7.5em;
            border-radius: 5px;
            height: 100%;
            span{
                display: inline-block;
                margin-left:4px;
                
            }

            &:hover{
                background: #C8C8C8			;
            }

            a{  
                display: flex;
                justify-content: center;
                align-items: center;
                line-height: 3em;
                height: 100%;
                width: 100%;
                text-decoration: none;
                color:$header-color; 
            }  
        }
    } 
}

@media (max-width:550px) {
    .header-main{
        ul{
            li{
                span{
                    display: none;
                }

                input{
                    display: none;
                }

            }
        }
    } 
}


