.generic-form-button{
    display: flex;
    justify-content: center;
    height: 40px;
    button{
        font-size: 17px;
        width: 80%;
        background:#009E74;
        font-weight: bold;
        color:white;
    }
    }