.carousel-main{
    position: relative;
    
    .active{
        display: block;
    }

    .inactive{
        display: none;
    }

    /* Fading animation */
    .fade {
        animation-name: fade;
        animation-duration: 1.5s;
    }
    
    @keyframes fade {
        from {opacity: .4} 
        to {opacity: 1}
    }


    .my-image{
       
        img{
            width:100%;
            height:50vh;
            object-fit: cover;
            
        }
    }
    .dot-main{
        position: absolute;
        bottom:0;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        z-index: 1;
        .dot {
            cursor: pointer;
            height: 15px;
            width: 15px;
            margin: 0 2px;
            background-color: #bbb;
            border-radius: 50%;
            display: inline-block;
            transition: background-color 0.6s ease;
          }
        
        .active-dot{
            background-color: white;
        }
    }
    
}